
h1{
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #bdd0d5;

}
form {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    height: 150px;
    padding: 30px;
    border: 2px solid #e16c6c;
}
button[type="submit"]:hover {
    background-color: #3e8e41;}