@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");





ul{background-color: #c88f1d;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
  }
  
  li {
    margin-right: 20px; 
  }
  
:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header__bar {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--text-dark);
  color: var(--white);
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav__icons {
  display: flex;
  gap: 1rem;
}

.nav__icons span {
  font-size: 1.25rem;
  cursor: pointer;
}

header {
  margin-top: 10rem;
  background-color: var(--primary-color);
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__content p {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.header__content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.header__content .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

.header__image {
  position: relative;
}

.header__image img {
  max-width: 400px;
  position: absolute;
  bottom: -5rem;
}

.collection__container {
  position: relative;
}

.collection__container img {
  max-width: 400px;
  margin: auto;
}

.collection__content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.collection__content .section__title {
  margin-bottom: 2rem;
}

.collection__content p {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.collection__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.collection__content .btn {
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  background-color: var(--white);
}

.collection__content .btn:hover {
  background-color: var(--text-dark);
  color: var(--white);
}

.sale__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sale__card {
  position: relative;
  overflow: hidden;
}

.sale__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: var(--white);
  text-align: center;
}

.sale__title {
  font-size: 2rem;
  font-weight: 600;
}

.sale__title span {
  font-size: 2.5rem;
}

.sale__subtitle {
  font-size: 1rem;
}

.sale__btn {
  margin-top: 2rem;
  color: var(--white);
  background-color: var(--text-dark);
}

.sale__card::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.sale__card:hover::before {
  top: 0;
}

.sale__card:hover .sale__btn {
  color: var(--text-dark);
  background-color: var(--white);
}

.musthave__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.musthave__nav a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}
.mainCard{
  
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  height: 380px;
  width: 380px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
}
.card img{
  height: 200px;
}
.musthave__nav a:hover {
  color: var(--text-dark);
}

.musthave__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}


.review{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
}

.review h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.review h1 span{
    background: linear-gradient(to left, #c72092 , #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;    
}

.review .review_box{
    width: 95%;
    position: relative;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.review .profile .profile_image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.3s;
}

.review .profile .profile_image:hover{
    transform: scale(1.2);
}

.review .profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review .profile{
    display: flex;
    align-items: center;
}

.review .review_box .review_card{
    width: 500px;
    background: #f3f1f1;
    padding: 20px 25px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.review .review_box .review_card .card_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review .review_box .review_card .card_top .profile .name{
    margin-left: 20px;
    line-height: 22px;
}

.review .review_box .review_card .card_top .profile .name strong{
    font-size: 20px;
}

.review .review_box .review_card .card_top .profile .name .like i{
    color: orange;
    display: inline-block;
    font-size: 12px;
}

.review .review_box .review_card .comment p{
    text-align: justify;
    line-height: 22px;
    margin-top: 15px;
}
  

.services{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 10px 0;
}

.services h1{
  font-size: 60px;
  text-transform: uppercase;
}

.services h1 span{
  margin-left: 15px;
  background: linear-gradient(to left, #c72092 , #6c14d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    
}

.services .services_cards{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 50px;
}

.services .services_box i{
  font-size: 60px;
  color: orange;
  margin: 20px 0;
  cursor: pointer;
}

.services .services_box h3{
  margin-bottom: 12px;
  font-size: 19px;
}

.services .services_box p{
  text-align: center;
  color: #919191;
  margin-bottom: 60px;
}

.musthave__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.musthave__card p del {
  font-weight: 400;
  color: var(--text-light);
}

.news {
  background-color: var(--extra-light);
}

.news__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.news__details {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  text-align: center;
}

.news__details p {
  font-size: 0.8rem;
  color: var(--text-light);
}

.news__details p i {
  font-size: 0.5rem;
  color: var(--text-light);
  padding: 0.5rem;
}

.news__details p span {
  font-weight: 600;
}

.news__details h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.news__details a i {
  font-size: 1.2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.news__details a:hover i {
  color: var(--text-dark);
}

.brands__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.brand__image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.brand__image img {
  max-width: 120px;
}

.brand__image:hover {
  opacity: 1;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__heading {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: var(--text-light);
}

.footer__col p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--text-dark);
}

.footer__col p i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.instagram__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer__bar {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-dark);
  font-size: 0.8rem;
}

.footer__form .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

@media (width < 900px) {
  header {
    margin-top: 5rem;
  }

  .sale__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .musthave__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .news__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .brands__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    text-align: center;
  }

  .footer__form {
    justify-content: center;
  }
}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

  header {
    margin-top: 0;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    display: none;
  }

  .sale__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .musthave__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .brands__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
