h1{
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #bdd0d5;}
    h2{
        width: 600px;
        margin: 50px auto;
        padding: 24px;
        background-color: #37afd1;}